<h1>YOU MADE IT TO THE SPECIFIC LISTING PAGE</h1>
{{#listing}}
<h1>{{this.title}}</h1>
<img src="{{this.img_url}}">
<h4>{{this.address}}, {{this.city}}, {{this.state}}</h4>
<h4>{{thiscategory}}</h4>
<h4>{{this.description}}</h4>
{{/listing}}