<h1>YOU MADE IT TO THE SPECIFIC LISTING PAGE</h1>
{{#each listing}}

<img src="{{this.img_url}}">
<h1>{{this.title}}</h1>
<p>Address: {{this.address}}, {{this.city}}, {{this.state}} {{this.zip}}</p>
<p>Available:{{#if this.available}} True{{else}}false{{/if}}</p></p>
<p>Secure:{{#if this.secure}} True{{else}}false{{/if}}</p>
<p>Price: ${{this.price}}</p>
<p>Category: {{this.category}}</p>
<p>Description: {{this.description}}</p>
{{/each}}


