<div class="container-fluid">
    <div class="d-flex flex-row bd-highlight">
        <div class="col-lg-6" style='margin-left:.5%;'>
            {{#listing}}
            <div class='col-lg-6' style="margin-left: 1%; margin-bottom: 4%;padding-top: 30px">
                <img src='{{this.img_url}}' alt='Listing Image'>
                <div>
                    <div>
                        <h2>{{this.title}}</h2>
                        <h5>Location:{{this.city}}</h5>
                    </div>
                    <p>
                        <h6>Price: ${{this.price}}/month</h6>
                    </p>
                    <p>Category: {{this.category}}</small></p>
                    <p>Description: {{this.description}}</small></p>

                    {{!-- put calendar here!!! --}}
                    <h5>Check calendar dates</h5>
                    <input class="date-input" type="text" data-dd-default-date="12/31/2019"
                        style="border: 1px solid #5477E8"><br><br>

                    {{!-- end of calendar --}}

                    <div style="text-align:center"><input class='btn btn-primary' action="action"
                            onclick="window.history.go(-1); return false;" type="button" value="Go Back" />
                        <a id="modalButton" class='btn btn-primary' id='{{this.product_id}}'>Book Listing</a><a
                            class="favorites"><i class="far fa-heart fa-2x" style="float:right"></i></a></div>
                </div>
            </div>
            {{/listing}}



        </div>

        <div class="container-fluid">
            <div class="container-fluid">
                <div class="col-lg-6" style="margin-right: 1%;">
                    <div id="map" style="width:220%; height:800px;"></div>
                </div>
            </div>

        </div>
    </div>


    <script>
    </script>

    <script>

        // Initialize and add the map
        function initMap() {
            var options = {
                zoom: 10,
                center: { lat: 40.7608, lng: -111.8910 }
            }
            console.log(options.center);
            // The map, centered at options
            var map = new google.maps.Map(document.getElementById('map'), { zoom: 12, options });
            // The marker, positioned at options
            addMarker({ lat: 41.0894, lng: -112.0647 });
            addMarker({ lat: 40.5650, lng: -111.8390 });
            addMarker({ lat: 41.11255, lng: -111.76874 });
            addMarker({ lat: 40.75195, lng: -111.8921 });
            addMarker({ lat: 40.752096, lng: -111.93901 });
            addMarker({ lat: 40.7737, lng: -111.90623 });

            function addMarker(coords) {
                var image = 'http://maps.google.com/mapfiles/kml/paddle/blu-circle.png';
                var marker = new google.maps.Marker({
                    position: coords,
                    animation: google.maps.Animation.DROP,
                    map: map,
                    icon: image
                });
            }
        }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2BBPXcQt6Md9T1SnCW6I4y8C-Uy-npbc&callback=initMap">
        </script>