<!-- JUMBOTRON -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Hoarder Helper</h1>
        <p class="lead">Our mission is to connect people who have no space with friendly hosts who have plenty of it.
        </p>
        <br>
        <br>
        <!-- SEARCH BAR -->
        <div class="input-group mb-3">
            <input type="text" class="form-control zipCodeVal" placeholder="Enter a Zip Code" aria-label="zipcode"
                aria-describedby="button-addon2">

            <div class="input-group-append">
                <button id="button-addon2" class="btn btn-outline-secondary searchBtn">Search for
                    Storage</button>
            </div>

        </div>
    </div>
</div>

<!-- SECOND HALF OF HOMEPAGE -->

      <div class="container">
            <div class="row">
                {{#each listings}}
                {{#if available}}
                <div class="card viewListingsCards wrapper" style="width: 18rem;">
                    <img class="card-img-top" src="{{this.img_url}}" alt="Property Image">
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text"><small class="text-muted">Price: ${{this.price}}/month</small></p>
                        <p class="card-text"><small class="text-muted">Category: {{this.category}}</small></p>
                        <p class="card-text"><small class="text-muted">Location: {{this.city}}, {{this.state}}</small></p>
                        <a href="/listings/{{this.product_id}}" id="{{this.product_id}}" class="btn btn-primary viewListing">View Listing</a>
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
