<!-- SEARCH BAR -->
<div class="container small-searchbar">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter a Zip Code" aria-label="zipcode"
            aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search for
                Storage</button>
        </div>
    </div>
</div>






<h3 class="zip-results">Showing results for zipcode: XXXXX</h3>

    <div class="row">
        <div class="col-lg-6">
            {{#each listings}}
            <div class="col-lg-7">
                <div class='card-deck'>
                    <div class='card' style='background-color:lightgrey;border:none'>
                        <img class='card-img-top' src='{{this.img_url}}' alt='Card image cap'>
                        <div class='card-body'>
                            <div class='card-title'>
                                <h2>{{this.title}}</h2>
                                <h5>Location:{{this.city}}</h5>
                            </div>
                            <p class='card-text'>
                                <h6>Price: ${{this.price}}</h6>
                            </p>
                            <p class='card-text'><small class='text-muted'>Category: {{this.category}}</small></p>
                            <div style="text-align:center"><a href='' class='btn btn-primary'>View Listing</a></div>
                        </div>
                    </div>
                </div>
                <br>
                <hr><br>
            </div>
            {{/each}}

        </div>
        <div class="col-lg-6" style="position: -webkit-sticky; position: sticky;">
            <div id="mapPosition">Map View
                <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                </label>
                <span>
                    <div id="mapImage">
                        <div style="overflow:hidden;width: 700px;position: relative;">
                            <iframe width="100%" height="800"
                                src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=207%20wilkie%20Kaysville%2C%20ut%2084037+(Title)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            <div
                                style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;">
                                <small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by
                                    <a href="https://embedgooglemaps.com/de/">Embedgooglemaps.com/de/</a>
                                    <a href="https://and-route.com/at/">billiger mietwagen bezahlung</a>
                                </small>
                            </div>
                            <style>
                                #gmap_canvas img {
                                    max-width: none !important;
                                    background: none !important
                                }
                            </style>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

<script>
    $("span").click(function () {
        $("#mapImage").toggle();
    });
</script>