<!-- SEARCH BAR -->
<div class="container small-searchbar">
    <div class="input-group mb-3">
        <input type="text" id="zipCodeVal" class="form-control" placeholder="Enter a Zip Code" aria-label="zipcode"
            aria-describedby="button-addon2" />
        <div class="input-group-append">

            <a href='' onclick="this.href=''+document.getElementById('zipCodeVal').value" id="searchVal">
                <button id="searchBtn" class="btn btn-outline-secondary" type="button">Search for
                    Storage</button>
            </a>
        </div>
    </div>
</div>

<h3 id="zipCodeTitle" style='margin-left:2%; margin-top:2%; padding-bottom: 1%;color:#5477E8;'>Listings for Zip Code:{{zip}}</h3>
<hr>
<div class="mapView">Map View
    <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
    </label>
</div>
<br>


<div id="cardFluid" class="container-fluid">
    <div class="d-flex flex-row bd-highlight">
        <div id="cardsContainer" class="card-deck col-lg-6" style='margin-left:.5%;'>
            {{#each listings}}
            <div id="listingCards" class='card col-lg-6' style="margin-left: 1%; margin-bottom: 4%;">
                <img class='card-img-top card-img' src='{{this.img_url}}' alt='Card image cap'>
                <div class='card-body'>
                    <h5 class="card-title">{{this.title}}</h5>
                    <hr>
                    <p class="card-text">Price: ${{this.price}}/month</p>
                    <p class="card-text">Category: {{this.category}}</p>
                    <p class="card-text">Location: {{this.city}}, {{this.state}}</p>

                    <div style="text-align:center"><a href='../profile/listing/{{this.product_id}}'
                            class='btn btn-primary'>View Listing</a><a class="favMarker"><i class="far fa-heart fa-2x"
                                style="float:right"></i></a></div>
                </div>
            </div>
            {{/each}}
        </div>
        <div id="mapContainer" class="container-fluid">
            <div class="col-lg-6" style="margin-right: 1%;">
                 <div id="map" style="width:220%; height:800px;"></div>
            </div>
        </div>
    </div>
   <script>

// Initialize and add the map
function initMap() {
    var options = {
        zoom:10,
        center:{lat: 40.7608, lng: -111.8910}
    }
    console.log(options.center);
  // The map, centered at options
  var map = new google.maps.Map(document.getElementById('map'), {zoom: 12, options});
  // The marker, positioned at options
    addMarker({lat:41.0894,lng:-112.0647});
    addMarker({lat:40.5650,lng:-111.8390});
    addMarker({lat:	41.11255,lng:-111.76874});
    addMarker({lat:	40.75195,lng:-111.8921});
    addMarker({lat: 40.752096,lng:-111.93901});
    addMarker({lat:	40.7737,lng:-111.90623});

  function addMarker(coords){
  var image = 'http://maps.google.com/mapfiles/kml/paddle/blu-circle.png';
  var marker = new google.maps.Marker({
      position: coords,
      animation: google.maps.Animation.DROP, 
      map: map,
      icon: image
      });
}
}
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2BBPXcQt6Md9T1SnCW6I4y8C-Uy-npbc&callback=initMap">
    </script>