<!-- SEARCH BAR -->
<div class="container small-searchbar">
    <div class="input-group mb-3">
        <input type="text" id="zipCodeVal" class="form-control" placeholder="Enter a Zip Code" aria-label="zipcode"
            aria-describedby="button-addon2" />
        <div class="input-group-append">

            <a href='' onclick="this.href=''+document.getElementById('zipCodeVal').value" id="searchVal">
                <button id="searchBtn" class="btn btn-outline-secondary" type="button">Search for
                    Storage</button>
            </a>
        </div>
    </div>
</div>

<h2 style="margin-left:2%;padding-top: 30px; color:#62BBC1">Listings for Zip Code!</h2>
<div class="mapView" style="color: #62BBC1">Map View
    <label class="switch" >
        <input type="checkbox" style="background-color: #62BBC1" checked>
        <span class="slider round" style="background-color: #62BBC1"></span>
    </label>
</div>
<br>


<div class="container-fluid">
    <div class="d-flex flex-row bd-highlight">
        <div id="cardsContainer" class="card-deck col-lg-6" style='margin-left:.5%;'>
            {{#each listings}}
            <div id="listingCards" class='card col-lg-6' style="margin-left: 1%; margin-bottom: 4%;">
                <img class='card-img-top' src='{{this.img_url}}' alt='Card image cap'>
                <div class='card-body'>
                    <div class='card-title'>
                        <h2>{{this.title}}</h2>
                        <h5>Location:{{this.city}}</h5>
                    </div>
                    <p class='card-text'>
                        <h6>Price: ${{this.price}}/month</h6>
                    </p>
                    <p class='card-text'><small class='text-muted'>Category: {{this.category}}</small></p>
                    <div style="text-align:center"><a href='../profile/listing/{{this.product_id}}'
                            class='btn btn-primary'>View Listing</a><a class="favorites"><i class="far fa-heart fa-2x"
                                style="float:right"></i></a></div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="container-fluid">
            <div id="mapImage" class="col-lg-6" style="margin-right: 1%;">
                <span>
                    <div>
                        <div style="overflow:hidden;width: 270%; position: relative;">
                            <iframe width="80%" height="800"
                                src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=207%20Wilkie%20kaysville%2C%20ut%2084037+(Title)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed"
                                frameborder="2" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            <div
                                style="position: absolute;width: 100%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;">
                                <small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by
                                    <a href="https://embedgooglemaps.com/de/">Embedgooglemaps.com/de/</a>
                                    <a href="https://and-route.com/at/">billiger mietwagen bezahlung</a>
                                </small>
                            </div>
                            <style>
                                #gmap_canvas img {
                                    max-width: none !important;
                                    background: none !important
                                }
                            </style>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>